/* font-family: 'Caveat', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif; */

.App_wrapper {
    margin: 20px;
    border: 2px solid purple;
    background-color: khaki;
}

.App_all-news {
    max-width: 900px;
    margin: 0 auto;
}

.App_title {
    font-family: 'Pacifico', cursive;
    text-align: center;
    margin: 20px;
    font-size: min(50px, calc(3vw + 10px));
}

.App_news-block {
    margin: 20px;
    padding: 20px;
    border: 2px solid blue;
    text-align: center;
}

.App_image-block {
    display: flex;
    justify-content: center;
}

.App_image {
    margin: 20px 0;
    width: min(200px, calc(50vw - 60px));
}

.App_news__title {
    font-size: min(25px, calc(2vw + 7px));
    font-family: 'Roboto', sans-serif;
}
